footer {
  text-align: center;
}

#img_banner {
  width: 100%;
  height: 10%;
}

.footer-img-empanada {  
  display: inline-flex;  
}

.footer-img-empanada p {
  padding-right: 20px;
}
.footer-img-empanada img {
  height: 5%;
}