
.ans {
    display: block;
}
.ansimg img {
    width: 100%;
}
.ansform {
    display: inline;
  background-color: rgb(202, 20, 20);
}
textarea {
    width: -webkit-fill-available;
}

@media only screen and (min-width: 600px) {

    .ans {
        display: flex;
    }

    .ansform {
        background-color: aqua;
    }
    .ansimg img {
        width: 80%;
        height: 60%;
    }
    
    textarea {
        width: 80%;
    }

  }