/* Móvil */
.menu {
    display: block;
}

.ans {
    display: block;
}

.ansform {
    width: 100%;
}

.ansimg img {
    width: 80%;  
}

.imagen_lenovo_suport {
    border: 1px solid black;
    border-radius: 5%;
}

.img_sw_prohibido {
    width: 20%;
}

footer {
    display: flex;
    justify-content: space-between;
}

/* Pantalla */
@media only screen and (min-width: 600px) {

    .ans {
        display: flex;
    }
    .ansform {
        width: 100%;
    }
    textarea {
        width: 100%;
    }    
    .img_sw_prohibido {
        width: 70%;       
    }
    
  }